@font-face {
	font-display: swap;
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/public-sans-v14-latin-300.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/public-sans-v14-latin-regular.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Public Sans";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/public-sans-v14-latin-700.woff2") format("woff2");
}
