.sr-only,
.sr-only-focusable:not(:focus):not(:focus-within) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.txt-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.txt-trunc-line-4 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.txt-gradient {
	background: var(--grd-to-200);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 500% auto;
	transition: all var(--time);
	background-position: right 0%;
	position: relative;
	outline: none;
}
.txt-gradient:where(:hover, :focus-visible) {
	background-position: left center;
}
.txt-gradient:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: -0.125em;
	background: var(--grd-diagonal);
	height: 0.075em;
	width: 0;
	transition: width var(--time);
}
.txt-gradient:where(:hover, :focus-visible):before {
	width: 100%;
}

.demo {
	color: var(--clr-primary-300-solid);
}

.d-block {
	display: block;
}

.v-visible {
	visibility: visible;
}
