/* hero */
.hero__group {
	display: grid;
	grid-template-columns: 1.333fr 2fr;
}

.hero__txt {
	display: grid;
	gap: calc(var(--size-xs) * 2);
	place-items: start;
	margin-block: calc(var(--size-xs) * 10);
}

.hero__img {
	position: relative;
}

.hero__bg {
	position: absolute;
	top: -260px;
	left: 10px;
	width: max-content;
	z-index: -1;
}

.hero__mockups {
	position: absolute;
	width: initial;
	top: -120px;
	left: 190px;
}

/* customer value proposition */
.cvp-section {
	padding-block: var(--size-xl);
	background-color: var(--clr-neutral-300-solid);
}

.cvp__group {
	--ratio-4-3: calc((var(--max-content-width) / 7) * 4);

	max-width: var(--ratio-4-3);
}

.cvp__text {
	margin-block: calc(var(--size-xs) * 2) calc(var(--size-xs) * 5);
}

/* articles */
.articles-section {
	--p-bottom: calc(var(--size-xl) - var(--gap));

	padding-block: var(--size-xl) var(--p-bottom);
}

.articles-section__group {
	display: grid;
	gap: calc(var(--size-md) - var(--gap));
}

/* articles & cvp lists styles:
	components > layout
	components > cards 
*/
